<!DOCTYPE html>
<html lang="en" ng-app="search">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/fr.js"></script>
</head>
<body ng-controller="SearchController as ctrl">

<div class="container">
    <h1>Faire une recherche</h1>
    <form>
        <h3>Ou chercher</h3>
        <p>La recherche s'effectue 30 AL autour de ce point.</p>
        <div class="form-group">
            <label>Votre position</label>
            <div class="row">
                <div class="col-md-2">
                    <input class="form-control" placeholder="x" ng-model="search.from.x">
                </div>
                <div class="col-md-2">
                    <input class="form-control" placeholder="y" ng-model="search.from.y">
                </div>
            </div>
        </div>

        <hr>

        <h3>Filtres</h3>

        <label>Caractéristiques</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="search.habitable"> Colonisable
            </label>
        </div>
        <div class="checkbox" ng-if="search.habitable">
            <label>
                <input type="checkbox" ng-model="search.available"> Libre
            </label>
        </div>

        <div ng-if="search.habitable">

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group" ng-init="c1 = true">
                        <label>Défense</label>
                        <div class="checkbox" ng-click="search.defense = ['1','2','3','4','5']">
                            <label>
                                <input type="checkbox" ng-model="c1"> Peut importe
                            </label>
                        </div>
                        <select multiple ng-model="search.defense" style="width:100%" ng-hide="c1">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-init="c2 = true">
                        <label>Population</label>
                        <div class="checkbox" ng-click="search.population = ['1','2','3','4','5']">
                            <label>
                                <input type="checkbox" ng-model="c2"> Peut importe
                            </label>
                        </div>
                        <select multiple ng-model="search.population" style="width:100%" ng-hide="c2">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-init="c3 = true">
                        <label>Resources</label>
                        <div class="checkbox" ng-click="search.resource = ['1','2','3','4','5']">
                            <label>
                                <input type="checkbox" ng-model="c3"> Peut importe
                            </label>
                        </div>
                        <select multiple ng-model="search.resource" style="width:100%" ng-hide="c3">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group" ng-init="c4 = true">
                        <label>Sciences</label>
                        <div class="checkbox" ng-click="search.science = ['1','2','3','4','5']">
                            <label>
                                <input type="checkbox" ng-model="c4"> Peut importe
                            </label>
                        </div>
                        <select multiple ng-model="search.science" style="width:100%" ng-hide="c4">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>

            <hr>

            <h3>Utiliser les rapports d'espionages</h3>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="search.with_report"> Seulement les planètes espionées
                </label>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre minimum d'habitants</label>
                        <input class="form-control" ng-model="search.inhabitants">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Coeff. ressource minimal</label>
                        <input class="form-control" ng-model="search.resource_ratio">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Bonus de science minimal</label>
                        <input class="form-control" ng-model="search.science_bonus">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ressources minimum dans les entrepôts</label>
                        <input class="form-control" ng-model="search.warehouses">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre de PEV de la première ligne</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input class="form-control" placeholder="Min" ng-model="search.first_line.min">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" placeholder="Max" ng-model="search.first_line.max">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-danger">{{ error }}</p>

        <button class="btn btn-primary" ng-click="ctrl.search()">
            Rechercher
        </button>

        <span ng-if="loading">Recherche en cours...</span>
    </form>
</div>

    <div ng-if="places.length" style="margin-top: 100px" ng-class="{'container-fluid':large, container:!large}" ng-init="large = false">
        <h1>{{places.length}} Résultats</h1>
        <button ng-click="large = !large" class="btn btn-primary" style="margin-bottom: 20px">
            <i ng-class="{'glyphicon-resize-full':!large, 'glyphicon-resize-small':large}" class="glyphicon"></i>
        </button>

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Coordonnées</th>
                <th>Distance (AL)</th>
                <th>Nom</th>
                <th>Def</th>
                <th>Pop</th>
                <th>Res</th>
                <th>Sci</th>
                <th>Habitants</th>
                <th>Coeff. res</th>
                <th>Bonus sci</th>
                <th>Entrepôts</th>
                <th>Contre-esp</th>
                <th>Routes comm</th>
                <th>1er ligne</th>
                <th>2em ligne</th>
                <th>Dernière mise à jour</th>
            </tr>
            <tr ng-repeat="place in places  | orderBy : 'dist'">
                <td>
                    <a href="http://game.asylamba.com/s7/map/place-{{ place._id}}">
                        {{ place.coordinates }}
                    </a>
                </td>
                <td>{{ place.dist | number : 0 }}</td>
                <td>
                    <a href="http://game.asylamba.com/s7/map/place-{{ place._id}}">{{ place.name }}</a>
                    <span nf-if="place.owner">
                        propriété du Citoyen
                        <a href="http://game.asylamba.com/s7/embassy/player-{{place.owner.id}}">{{ place.owner.name}}</a>
                    </span>
                </td>

                <td ng-if="!place.habitable" colspan="4" class="active">Non applicable</td>
                <td ng-if="place.habitable"><img style="width: 16px" src="http://game.asylamba.com/s7/public/media/resources/defense.png" ng-repeat="i in ctrl.range(place.defense) track by $index"></td>
                <td ng-if="place.habitable"><img style="width: 16px" src="http://game.asylamba.com/s7/public/media/resources/population.png" ng-repeat="i in ctrl.range(place.population) track by $index"></td>
                <td ng-if="place.habitable"><img style="width: 16px" src="http://game.asylamba.com/s7/public/media/resources/resource.png" ng-repeat="i in ctrl.range(place.resource) track by $index"></td>
                <td ng-if="place.habitable"><img style="width: 16px" src="http://game.asylamba.com/s7/public/media/resources/science.png" ng-repeat="i in ctrl.range(place.science) track by $index"></td>

                <td ng-if="!place.last_report" colspan="8" class="active">Pas encore de raport d'espionage</td>
                <td ng-if="place.last_report">{{ place.inhabitants }}</td>
                <td ng-if="place.last_report">{{ place.resource_ratio }}%</td>
                <td ng-if="place.last_report">{{ place.science_bonus }}%</td>
                <td ng-if="place.last_report">{{ place.warehouses }} <img style="width: 16px" src="http://game.asylamba.com/s7/public/media/resources/resource.png"></td>
                <td ng-if="place.last_report">{{ place.counterintelligence }} <img style="width: 16px" src="http://game.asylamba.com/s7/public/media/resources/credit.png"></td>
                <td ng-if="place.last_report">{{ place.trade_routes }} <img style="width: 16px" src="http://game.asylamba.com/s7/public/media/resources/credit.png"></td>
                <td ng-if="place.last_report"><div ng-repeat="compo in place.first_line">{{ compo.pev }} PEV</div></td>
                <td ng-if="place.last_report"><div ng-repeat="compo in place.second_line">{{ compo.pev }} PEV</div></td>

                <td>{{ place.last_update }}</td>
            </tr>
        </table>
    </div>


    <script>
        angular.module('search', [])
                .controller('SearchController', function($scope, $http) {
                    $scope.search = {
                        habitable: true,
                        available: true,
                        defense: '1 2 3 4 5'.split(' '),
                        population: '1 2 3 4 5'.split(' '),
                        resource: '1 2 3 4 5'.split(' '),
                        science: '1 2 3 4 5'.split(' '),
                        from: {x: 219, y:202},
                        warehouses: 0
                    };

                    $scope.loading = false;

                    this.range = function(i) {
                        return _.fill(new Array(i), 0);
                    };

                    this.search = function() {

                        $scope.loading = true;

                        $http.post('http://glx.naj.ovh/api/places/search', $scope.search).
                                success(function(data) {

                                    $scope.loading = false;
                                    $scope.error = '';

                                    data.forEach(function(place) {
                                        place.dist = Math.sqrt(Math.pow(place.x - $scope.search.from.x, 2) + Math.pow(place.y - $scope.search.from.y, 2));
                                        place.coordinates = '(' + _.get(place, 'sector', 'xx') + ') ' + place.x + ':' + place.y + ':' + _.get(place, 'position', 'x');
                                        place.last_update = moment(place.last_checked).fromNow();
                                    });

                                    $scope.places = data;
                                }).
                                error(function(data) {

                                    $scope.loading = false;
                                    $scope.error = data.message;
                                    console.log(data);
                                });
                    }
                });
    </script>
</body>
</html>